$darkest-colour: #41010c;
$primary-colour: #660113;
$secondary-colour: #8f181e;
$font-colour: #a9b390;
$button-colour: #4d5814;
$button-hover-colour: #37400c;
$button-click-colour: #181c04;
$highlight-colour: #cfa721;
$neutral-colour: #eaca8c;
$neutral-colour-dark: #bca26d;
